.header{
    background-color: darkslategray;
    height: 82px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
};

.logo{
    color: #fff;
    font-size:27px;
    font-weight: 700;
};


.user-image{
    width:38px;
    height:38px;
};

